@tailwind base;
@tailwind components;
@tailwind utilities;

.headerBg {
  background: linear-gradient(
    157.48deg,
    rgba(77, 77, 77, 0.045) 0%,
    rgba(140, 140, 140, 0.04) 99.6%
  );
}

.button {
  background: linear-gradient(126.89deg, #db2777 -67.19%, #f97316 203.32%);
}

.stepBg {
  background: linear-gradient(
    126.89deg,
    rgba(219, 39, 119, 0.12) -67.19%,
    rgba(249, 115, 22, 0.12) 203.32%
  );
}

.footerBg {
  background: linear-gradient(
    126.89deg,
    rgba(219, 39, 119, 0.12) -67.19%,
    rgba(249, 115, 22, 0.12) 203.32%
  );
}
